<link rel="stylesheet" href="layout.css">

<h1 style="color: white; text-align: center";>Your Profile</h1>


<div class="pic">
<img src="https://i.imgflip.com/d0tb7.jpg">
</div>

<form class="profile" method="POST" action="/home">
		<input placeholder="First Name" name="first" />
		<br></br>
    	<input placeholder="Last Name" name="last" />
    	<br></br>
    	<input placeholder="Email Address" name="email">
    	<br></br>
    	<input placeholder="Group" name="Group" />
    	<br></br>
    	<input placeholder="Birthday" name="Birthday">
    	<br></br>
    	<input placeholder="about_me" name="about_me" />
    	<br></br>
    	<input placeholder="position" name="position" />
    	<br></br>
    	<input type="submit" name="save" />
</form>

