<body class="all">

<link rel="stylesheet" href="blog.css">
<div class="login">
 	 <input placeholder="Email or Phone" name="email" />
	 <input placeholder="Password" name="password" />
	 <input type="submit" />
</div>

<nav class="home">
	<img src="images/BlogHubcomplete.png" style="height: 100px">
</nav>

<h2 class="sign">Sign up Now</h2><br>
	<form class="facebook">
    <input placeholder="First Name" name="first" />
    <input placeholder="Last Name" name="last" />
    <input placeholder="Email Address" name="email">
    <input placeholder="Password" type="password" name="password" />
    <input type="submit" />
</form>

</body>