<body class="all">


<link rel="stylesheet" href="blog.css">
<form method="POST" action="/signin">
<div class="login">
 	 <input placeholder="Email or Phone" name="email" />
	 <input placeholder="Password" name="password" />
	 <input type="submit" />
</div>
</form>


<nav class="home">
	<img src="images/BlogHubcomplete.png" style="height: 100px">
</nav>

<div class="info">
	<h1>Welcome to BlogHub</h1>
		<h2>The world's best ranking site</h2>
</div>


		
<form class="facebook" method="POST" action="/signup">
		<h2 class="sign" style="font-size: 30px;">Sign up Now</h2><br>
    	<input placeholder="First Name" name="first" />
    	<input placeholder="Last Name" name="last" />
    	<input placeholder="Email Address" name="email">
    	<input placeholder="Password" type="password" name="password" />
    	<input type="submit" />
</form>

<div class="content">
		<p><img src="http://uoftmeds.com/media/k2/items/cache/c82cc4e14a1d2c8c8ffff9840d24b558_XL.jpg" style="height: 75px; width: 75px;"><br></br>Community Based Review Platform.</p>
		<p><img src="https://icons4web.com/wp-content/uploads/2016/09/Customer-reviews-icon.-Round-icon-imitating-metal-125645-300x300.jpg" style="height: 75px; width: 75px;"><br></br>Access to reviews on Books, Movies, Blogs and more.</p>
		<p><img src="https://i.pinimg.com/736x/29/b9/81/29b981bc6612860eca02ce4791b4232e--windows-registry-windows-service.jpg" style="height: 75px; width: 75px;" ><br></br>Personalized accounts Based on your preferrenes</p>
</div>
<br></br>
<br></br>

</body>