<div class="info">
<p>Contact Us</p>
<p>Email: Kevin.gallagher23@gmail.com</p>
<p>Phone: 516-639-6665</p>
<p>Fax: No One Uses Fax Machines Anymore</p>
<p>Address: 90 John Street, New York, NY</p>
<p>Hours: Mon-Fri 9am-10pm & Sat-Sun 11am-10pm</p>
</div>


<div class="email">
	
	<form method="POST" action="http://formspree.io/kevin.gallagher23@gmail.com">
    <h2 style="color: white;">Send us an Email</h2><br>
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    Email:<br>
    <input type="text" name="email"><br>
    Message:<br>
    <input type="text" name="message">
    <br>
    <input type="submit" value="submit">
</form>
</div>
