

<form method="POST" action="/createposts">
	<h4> Post Title<br><h2><input type="text" name="title" style="width: 200px"></h2></h4>

	<h4> Post Body<br><input type="text" name="body" style="width: 750px;height:300px ;"></h4>


<input type="Submit">
</form>