create post 

<form method="POST" action="/createposts">
	<h4> Post Title<br><input type="text" name="genre" style="width: 200px"></h4>

	<h4> Post Body<br><input type="text" style="width: 750px;height:300px ;"></h4>

<input type="Submit">
</form>