<link rel="stylesheet" href="layout.css">

<h1 style="color: white; text-align: center";>Edit Your Account</h1>


<div class="pic">
<img src="https://i.imgflip.com/d0tb7.jpg">
</div>


<form class="profile"  method="POST" type="hidden" action="/profile/update">
    	<input placeholder="Group" name="group" />
		<br></br>
    	<input placeholder="birthday" name="birth">
    	<br></br>
    	<input placeholder="about_me" name="about_me" />
    	<br></br>
    	<input placeholder="position" name="position" />
    	<br></br>
    	<input type="submit" name="save" />
</form>

