<div class="search">
	<img src="images/Bloghubcomplete.png" width="200" height="120" >
	<textarea class="textarea" >Search</textarea>

</div>

<div class="feed">
<h1>feed</h1>
<p><a href="/profile"><%= @current_user.first + " " +  @current_user.last %></a></p>
<% @current_user.posts.each do |item| %>
<p><%=item.title %></p>
<p><%=item.body %></p>

<% end %>
	
</div>
<div class="following">
	
<h3>Following</h3>

</div>