<div class="search">
	<img src="images/Bloghubcomplete.png" width="200" height="120" >
	<textarea class="textarea" >Search</textarea>

</div>

<div class="feed">
<h1>feed</h1>
	

</div>

<div class="following">
	
<h3>Following</h3>

</div>