
<% unless request.path_info == "/" %>
<div class="nav_div" >
	<div class="nav_img">
		
	</div>

	<nav>
		<ul class="main_nav">
			<img src="images/Bloghubcomplete.png" width="200" height="120" >
			<li><a href="/home">BLOG</a></li>
			<li><a href="/post">POST</a></li>
			<li><a href="/editaccount">EDIT ACCOUNT</a></li>
			<li><a href="/profile">PROFILE</a></li>
			<li><a href="/contact">CONTACT</a></li>
			<li class="signout"><a href="/signout">SIGNOUT</a></li>
		</ul>
	</nav>
</div>


<% end %>