
<% unless request.path_info == "/" %>
<div class="nav_div" >
	<nav>
		<ul class="main_nav">
			<img src="images/BlogHubLogo.png">
			<li><a href="/">Blog</a></li>
			<li><a href="/post">Post</a></li>
			<li><a href="/account">Profile</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/signout">Signout</a></li>
		</ul>
	</nav>
</div>
<% end %>